/ Make App Interface

%div#automotive
  %div.title
    %h1
      Automotive
      %div.content
        %div#create-make
          %input#new-make{"placeholder" => "What's next?", "type" => "text"}/
          %span.ui-tooltip-top{"style" => "display:none;"} Press Enter to save this task
        %div#makes
          %ul#make-list
        %div#make-stats

/ Templates

/ Can't figure out how to tell HAML not to escape the raw HTML lines
%script#item-template{"type" => "text/template"}
  <div class="make">
  %div.display
    <li><%= MakeName %></li>
    %div.make-text 
    %span#make-destroy
  %div.edit
    %input.make-input{"type" => "text", "value" =>"<%= MakeName %>"}/
  </div>

%script#stats-template{"type" => "text/template"}
  <% if (total) { %>
  %span.make-count
    %span.number <%= total %>
  <% } %>
